<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU4Kb65ni3D4u-z_yslBRZTD0purRUe70</string>
	<key>GCM_SENDER_ID</key>
	<string>107961647459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neuroindex</string>
	<key>PROJECT_ID</key>
	<string>neuroindex-e4f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>neuroindex-e4f5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107961647459:ios:9509ca5c537ee6f48b1356</string>
	<key>DATABASE_URL</key>
	<string>https://neuroindex-e4f5b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>